* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    padding: 2em;

}
.top-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-navigation-left img{
    width: 80px; 
}

.top-navigation-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.top-navigation-links {
    display: flex;
    gap: 2em;
}

.top-navigation-links a {
    text-decoration: none;
    color: aqua;
    display: flex;
    gap: 2em;
}

.top-navigation-right img {
    width: 30px;

}

.top-navigation-right {
    display: flex;
    gap: 1em;
}



.grid-container img {
    display: grid;
    width: 100px;
    height: auto;
    
}



.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: aqua;
    padding: 20px;
    
    
    
}
    
    
   

.top-grid {
    grid-template-columns: 33.3% ;
} 
  

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 10px;
    text-align: center;
   
  }


.footer-container {
    text-align: center;
    background-color: aqua;
    padding: 20px;
   
  }

  img {
    display: block;
    margin: 0 auto;
    width: 40%;
  }



.topForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}